@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  @apply text-black dark:text-white relative;
  min-height: 100vh;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(39 39 39 / var(--tw-text-opacity));
  @apply dark:text-white;
}
